
.hga-drawing:before { content: '\e800'; } /* '' */
.hga-constructor-1:before { content: '\e801'; } /* '' */
.hga-build:before { content: '\e802'; } /* '' */
.hga-hook:before { content: '\e803'; } /* '' */
.hga-wheelbarrow:before { content: '\e804'; } /* '' */
.hga-carman:before { content: '\e805'; } /* '' */
.hga-danger-barrier:before { content: '\e806'; } /* '' */
.hga-cross:before { content: '\e807'; } /* '' */
.hga-symbol:before { content: '\e808'; } /* '' */
.hga-builder:before { content: '\e809'; } /* '' */
.hga-hammer:before { content: '\e80a'; } /* '' */
.hga-bulldozer:before { content: '\e80b'; } /* '' */
.hga-rickshaw:before { content: '\e80c'; } /* '' */
.hga-city:before { content: '\e80d'; } /* '' */
.hga-icon-big-cone:before { content: '\e80e'; } /* '' */
.hga-worker:before { content: '\e80f'; } /* '' */
.hga-icon-manage:before { content: '\e810'; } /* '' */
.hga-glyph:before { content: '\e811'; } /* '' */
.hga-shield-alert:before { content: '\e812'; } /* '' */
.hga-employee:before { content: '\e813'; } /* '' */
.hga-saws:before { content: '\e814'; } /* '' */
.hga-cole:before { content: '\e815'; } /* '' */
.hga-protection:before { content: '\e816'; } /* '' */
.hga-drill:before { content: '\e817'; } /* '' */
.hga-barrier:before { content: '\e818'; } /* '' */
.hga-cone:before { content: '\e819'; } /* '' */
.hga-gloves:before { content: '\e81a'; } /* '' */
.hga-big-bulldozer:before { content: '\e81b'; } /* '' */
.hga-wagons:before { content: '\e81c'; } /* '' */