@font-face {
  font-family: 'hga';
  src: url('../font/hga.eot?64794745');
  src: url('../font/hga.eot?64794745#iefix') format('embedded-opentype'),
       url('../font/hga.woff?64794745') format('woff'),
       url('../font/hga.ttf?64794745') format('truetype'),
       url('../font/hga.svg?64794745#hga') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'hga';
    src: url('../font/hga.svg?64794745#hga') format('svg');
  }
}
*/
 
 [class^="hga-"]:before, [class*=" hga-"]:before {
  font-family: "hga";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.hga-drawing:before { content: '\e800'; } /* '' */
.hga-constructor-1:before { content: '\e801'; } /* '' */
.hga-build:before { content: '\e802'; } /* '' */
.hga-hook:before { content: '\e803'; } /* '' */
.hga-wheelbarrow:before { content: '\e804'; } /* '' */
.hga-carman:before { content: '\e805'; } /* '' */
.hga-danger-barrier:before { content: '\e806'; } /* '' */
.hga-cross:before { content: '\e807'; } /* '' */
.hga-symbol:before { content: '\e808'; } /* '' */
.hga-builder:before { content: '\e809'; } /* '' */
.hga-hammer:before { content: '\e80a'; } /* '' */
.hga-bulldozer:before { content: '\e80b'; } /* '' */
.hga-rickshaw:before { content: '\e80c'; } /* '' */
.hga-city:before { content: '\e80d'; } /* '' */
.hga-icon-big-cone:before { content: '\e80e'; } /* '' */
.hga-worker:before { content: '\e80f'; } /* '' */
.hga-icon-manage:before { content: '\e810'; } /* '' */
.hga-glyph:before { content: '\e811'; } /* '' */
.hga-shield-alert:before { content: '\e812'; } /* '' */
.hga-employee:before { content: '\e813'; } /* '' */
.hga-saws:before { content: '\e814'; } /* '' */
.hga-cole:before { content: '\e815'; } /* '' */
.hga-protection:before { content: '\e816'; } /* '' */
.hga-drill:before { content: '\e817'; } /* '' */
.hga-barrier:before { content: '\e818'; } /* '' */
.hga-cone:before { content: '\e819'; } /* '' */
.hga-gloves:before { content: '\e81a'; } /* '' */
.hga-big-bulldozer:before { content: '\e81b'; } /* '' */
.hga-wagons:before { content: '\e81c'; } /* '' */