
.icon-glass:before { content: '\e800'; } /* '' */
.icon-music:before { content: '\e801'; } /* '' */
.icon-search:before { content: '\e802'; } /* '' */
.icon-mail:before { content: '\e803'; } /* '' */
.icon-mail-alt:before { content: '\e804'; } /* '' */
.icon-mail-squared:before { content: '\e805'; } /* '' */
.icon-heart:before { content: '\e806'; } /* '' */
.icon-heart-empty:before { content: '\e807'; } /* '' */
.icon-star:before { content: '\e808'; } /* '' */
.icon-star-empty:before { content: '\e809'; } /* '' */
.icon-star-half:before { content: '\e80a'; } /* '' */
.icon-star-half-alt:before { content: '\e80b'; } /* '' */
.icon-user:before { content: '\e80c'; } /* '' */
.icon-user-plus:before { content: '\e80d'; } /* '' */
.icon-user-times:before { content: '\e80e'; } /* '' */
.icon-users:before { content: '\e80f'; } /* '' */
.icon-male:before { content: '\e810'; } /* '' */
.icon-female:before { content: '\e811'; } /* '' */
.icon-child:before { content: '\e812'; } /* '' */
.icon-user-secret:before { content: '\e813'; } /* '' */
.icon-minus:before { content: '\e814'; } /* '' */
.icon-plus-squared-alt:before { content: '\e815'; } /* '' */
.icon-plus-squared:before { content: '\e816'; } /* '' */
.icon-plus-circled:before { content: '\e817'; } /* '' */
.icon-plus:before { content: '\e818'; } /* '' */
.icon-cancel-circled2:before { content: '\e819'; } /* '' */
.icon-cancel-circled:before { content: '\e81a'; } /* '' */
.icon-cancel:before { content: '\e81b'; } /* '' */
.icon-ok-squared:before { content: '\e81c'; } /* '' */
.icon-ok-circled2:before { content: '\e81d'; } /* '' */
.icon-ok-circled:before { content: '\e81e'; } /* '' */
.icon-ok:before { content: '\e81f'; } /* '' */
.icon-th-list:before { content: '\e820'; } /* '' */
.icon-th:before { content: '\e821'; } /* '' */
.icon-th-large:before { content: '\e822'; } /* '' */
.icon-camera-alt:before { content: '\e823'; } /* '' */
.icon-camera:before { content: '\e824'; } /* '' */
.icon-picture:before { content: '\e825'; } /* '' */
.icon-videocam:before { content: '\e826'; } /* '' */
.icon-video:before { content: '\e827'; } /* '' */
.icon-minus-circled:before { content: '\e828'; } /* '' */
.icon-minus-squared:before { content: '\e829'; } /* '' */
.icon-minus-squared-alt:before { content: '\e82a'; } /* '' */
.icon-help:before { content: '\e82b'; } /* '' */
.icon-help-circled:before { content: '\e82c'; } /* '' */
.icon-info:before { content: '\e82d'; } /* '' */
.icon-home:before { content: '\e82e'; } /* '' */
.icon-info-circled:before { content: '\e82f'; } /* '' */
.icon-link:before { content: '\e830'; } /* '' */
.icon-unlink:before { content: '\e831'; } /* '' */
.icon-link-ext:before { content: '\e832'; } /* '' */
.icon-link-ext-alt:before { content: '\e833'; } /* '' */
.icon-attach:before { content: '\e834'; } /* '' */
.icon-lock:before { content: '\e835'; } /* '' */
.icon-lock-open:before { content: '\e836'; } /* '' */
.icon-lock-open-alt:before { content: '\e837'; } /* '' */
.icon-pin:before { content: '\e838'; } /* '' */
.icon-eye:before { content: '\e839'; } /* '' */
.icon-eye-off:before { content: '\e83a'; } /* '' */
.icon-tag:before { content: '\e83b'; } /* '' */
.icon-code:before { content: '\e83c'; } /* '' */
.icon-quote-right:before { content: '\e83d'; } /* '' */
.icon-attention-alt:before { content: '\e83e'; } /* '' */
.icon-calendar:before { content: '\e83f'; } /* '' */
.icon-zoom-out:before { content: '\e840'; } /* '' */
.icon-zoom-in:before { content: '\e841'; } /* '' */
.icon-cart-arrow-down:before { content: '\e842'; } /* '' */
.icon-file-video:before { content: '\e843'; } /* '' */
.icon-bell-off-empty:before { content: '\e844'; } /* '' */
.icon-file-audio:before { content: '\e845'; } /* '' */
.icon-file-archive:before { content: '\e846'; } /* '' */
.icon-bell-off:before { content: '\e847'; } /* '' */
.icon-quote-left:before { content: '\e848'; } /* '' */
.icon-cart-plus:before { content: '\e849'; } /* '' */
.icon-move:before { content: '\e84a'; } /* '' */
.icon-resize-horizontal:before { content: '\e84b'; } /* '' */
.icon-basket:before { content: '\e84c'; } /* '' */
.icon-file-image:before { content: '\e84d'; } /* '' */
.icon-bell-alt:before { content: '\e84e'; } /* '' */
.icon-forward:before { content: '\e84f'; } /* '' */
.icon-reply-all:before { content: '\e850'; } /* '' */
.icon-bell:before { content: '\e851'; } /* '' */
.icon-file-powerpoint:before { content: '\e852'; } /* '' */
.icon-sliders:before { content: '\e853'; } /* '' */
.icon-resize-vertical:before { content: '\e854'; } /* '' */
.icon-resize-small:before { content: '\e855'; } /* '' */
.icon-wrench:before { content: '\e856'; } /* '' */
.icon-file-excel:before { content: '\e857'; } /* '' */
.icon-chat-empty:before { content: '\e858'; } /* '' */
.icon-reply:before { content: '\e859'; } /* '' */
.icon-upload-cloud:before { content: '\e85a'; } /* '' */
.icon-comment-empty:before { content: '\e85b'; } /* '' */
.icon-file-word:before { content: '\e85c'; } /* '' */
.icon-cog-alt:before { content: '\e85d'; } /* '' */
.icon-resize-full-alt:before { content: '\e85e'; } /* '' */
.icon-resize-full:before { content: '\e85f'; } /* '' */
.icon-cog:before { content: '\e860'; } /* '' */
.icon-file-pdf:before { content: '\e861'; } /* '' */
.icon-chat:before { content: '\e862'; } /* '' */
.icon-download-cloud:before { content: '\e863'; } /* '' */
.icon-upload:before { content: '\e864'; } /* '' */
.icon-doc-text-inv:before { content: '\e865'; } /* '' */
.icon-menu:before { content: '\e866'; } /* '' */
.icon-block:before { content: '\e867'; } /* '' */
.icon-comment:before { content: '\e868'; } /* '' */
.icon-gamepad:before { content: '\e869'; } /* '' */
.icon-download:before { content: '\e86a'; } /* '' */
.icon-doc-inv:before { content: '\e86b'; } /* '' */
.icon-fax:before { content: '\e86c'; } /* '' */
.icon-lightbulb:before { content: '\e86d'; } /* '' */
.icon-clock:before { content: '\e86e'; } /* '' */
.icon-phone-squared:before { content: '\e86f'; } /* '' */
.icon-doc-text:before { content: '\e870'; } /* '' */
.icon-thumbs-down-alt:before { content: '\e871'; } /* '' */
.icon-thumbs-up-alt:before { content: '\e872'; } /* '' */
.icon-retweet:before { content: '\e873'; } /* '' */
.icon-docs:before { content: '\e874'; } /* '' */
.icon-phone:before { content: '\e875'; } /* '' */
.icon-headphones:before { content: '\e876'; } /* '' */
.icon-keyboard:before { content: '\e877'; } /* '' */
.icon-print:before { content: '\e878'; } /* '' */
.icon-thumbs-down:before { content: '\e879'; } /* '' */
.icon-doc:before { content: '\e87a'; } /* '' */
.icon-rss-squared:before { content: '\e87b'; } /* '' */
.icon-volume-up:before { content: '\e87c'; } /* '' */
.icon-volume-down:before { content: '\e87d'; } /* '' */
.icon-rss:before { content: '\e87e'; } /* '' */
.icon-trash-empty:before { content: '\e87f'; } /* '' */
.icon-edit:before { content: '\e880'; } /* '' */
.icon-thumbs-up:before { content: '\e881'; } /* '' */
.icon-flag-checkered:before { content: '\e882'; } /* '' */
.icon-pencil-squared:before { content: '\e883'; } /* '' */
.icon-trash:before { content: '\e884'; } /* '' */
.icon-box:before { content: '\e885'; } /* '' */
.icon-volume-off:before { content: '\e886'; } /* '' */
.icon-mute:before { content: '\e887'; } /* '' */
.icon-folder-open-empty:before { content: '\e888'; } /* '' */
.icon-compass:before { content: '\e889'; } /* '' */
.icon-pencil:before { content: '\e88a'; } /* '' */
.icon-flag-empty:before { content: '\e88b'; } /* '' */
.icon-flag:before { content: '\e88c'; } /* '' */
.icon-share-squared:before { content: '\e88d'; } /* '' */
.icon-direction:before { content: '\e88e'; } /* '' */
.icon-folder-empty:before { content: '\e88f'; } /* '' */
.icon-mic:before { content: '\e890'; } /* '' */
.icon-logout:before { content: '\e891'; } /* '' */
.icon-folder-open:before { content: '\e892'; } /* '' */
.icon-location:before { content: '\e893'; } /* '' */
.icon-share:before { content: '\e894'; } /* '' */
.icon-bookmark-empty:before { content: '\e895'; } /* '' */
.icon-bookmark:before { content: '\e896'; } /* '' */
.icon-export-alt:before { content: '\e897'; } /* '' */
.icon-attention-circled:before { content: '\e898'; } /* '' */
.icon-folder:before { content: '\e899'; } /* '' */
.icon-login:before { content: '\e89a'; } /* '' */
.icon-calendar-empty:before { content: '\e89b'; } /* '' */
.icon-file-code:before { content: '\e89c'; } /* '' */
.icon-attention:before { content: '\e89d'; } /* '' */
.icon-export:before { content: '\e89e'; } /* '' */
.icon-tags:before { content: '\e89f'; } /* '' */
.icon-down-circled2:before { content: '\e8a0'; } /* '' */
.icon-angle-double-left:before { content: '\e8a1'; } /* '' */
.icon-cw:before { content: '\e8a2'; } /* '' */
.icon-to-start-alt:before { content: '\e8a3'; } /* '' */
.icon-fighter-jet:before { content: '\e8a4'; } /* '' */
.icon-list-bullet:before { content: '\e8a5'; } /* '' */
.icon-list-numbered:before { content: '\e8a6'; } /* '' */
.icon-paper-plane:before { content: '\e8a7'; } /* '' */
.icon-fast-fw:before { content: '\e8a8'; } /* '' */
.icon-ccw:before { content: '\e8a9'; } /* '' */
.icon-angle-double-right:before { content: '\e8aa'; } /* '' */
.icon-up-circled2:before { content: '\e8ab'; } /* '' */
.icon-left-circled2:before { content: '\e8ac'; } /* '' */
.icon-angle-double-up:before { content: '\e8ad'; } /* '' */
.icon-arrows-cw:before { content: '\e8ae'; } /* '' */
.icon-fast-bw:before { content: '\e8af'; } /* '' */
.icon-paper-plane-empty:before { content: '\e8b0'; } /* '' */
.icon-strike:before { content: '\e8b1'; } /* '' */
.icon-underline:before { content: '\e8b2'; } /* '' */
.icon-space-shuttle:before { content: '\e8b3'; } /* '' */
.icon-eject:before { content: '\e8b4'; } /* '' */
.icon-level-up:before { content: '\e8b5'; } /* '' */
.icon-angle-double-down:before { content: '\e8b6'; } /* '' */
.icon-right-circled2:before { content: '\e8b7'; } /* '' */
.icon-down-dir:before { content: '\e8b8'; } /* '' */
.icon-down:before { content: '\e8b9'; } /* '' */
.icon-level-down:before { content: '\e8ba'; } /* '' */
.icon-target:before { content: '\e8bb'; } /* '' */
.icon-leaf:before { content: '\e8bc'; } /* '' */
.icon-superscript:before { content: '\e8bd'; } /* '' */
.icon-subscript:before { content: '\e8be'; } /* '' */
.icon-font:before { content: '\e8bf'; } /* '' */
.icon-signal:before { content: '\e8c0'; } /* '' */
.icon-shuffle:before { content: '\e8c1'; } /* '' */
.icon-left:before { content: '\e8c2'; } /* '' */
.icon-up-dir:before { content: '\e8c3'; } /* '' */
.icon-left-dir:before { content: '\e8c4'; } /* '' */
.icon-right:before { content: '\e8c5'; } /* '' */
.icon-exchange:before { content: '\e8c6'; } /* '' */
.icon-wifi:before { content: '\e8c7'; } /* '' */
.icon-bold:before { content: '\e8c8'; } /* '' */
.icon-table:before { content: '\e8c9'; } /* '' */
.icon-medium:before { content: '\e8ca'; } /* '' */
.icon-award:before { content: '\e8cb'; } /* '' */
.icon-columns:before { content: '\e8cc'; } /* '' */
.icon-history:before { content: '\e8cd'; } /* '' */
.icon-up:before { content: '\e8ce'; } /* '' */
.icon-right-dir:before { content: '\e8cf'; } /* '' */
.icon-down-open:before { content: '\e8d0'; } /* '' */
.icon-down-big:before { content: '\e8d1'; } /* '' */
.icon-expand:before { content: '\e8d2'; } /* '' */
.icon-desktop:before { content: '\e8d3'; } /* '' */
.icon-italic:before { content: '\e8d4'; } /* '' */
.icon-crop:before { content: '\e8d5'; } /* '' */
.icon-scissors:before { content: '\e8d6'; } /* '' */
.icon-laptop:before { content: '\e8d7'; } /* '' */
.icon-collapse:before { content: '\e8d8'; } /* '' */
.icon-left-big:before { content: '\e8d9'; } /* '' */
.icon-left-open:before { content: '\e8da'; } /* '' */
.icon-header:before { content: '\e8db'; } /* '' */
.icon-right-open:before { content: '\e8dc'; } /* '' */
.icon-up-open:before { content: '\e8dd'; } /* '' */
.icon-angle-left:before { content: '\e8de'; } /* '' */
.icon-angle-right:before { content: '\e8df'; } /* '' */
.icon-angle-up:before { content: '\e8e0'; } /* '' */
.icon-angle-circled-left:before { content: '\e8e1'; } /* '' */
.icon-angle-down:before { content: '\e8e2'; } /* '' */
.icon-angle-circled-right:before { content: '\e8e3'; } /* '' */
.icon-angle-circled-up:before { content: '\e8e4'; } /* '' */
.icon-angle-circled-down:before { content: '\e8e5'; } /* '' */
.icon-to-start:before { content: '\e8e6'; } /* '' */
.icon-down-circled:before { content: '\e8e7'; } /* '' */
.icon-up-circled:before { content: '\e8e8'; } /* '' */
.icon-right-circled:before { content: '\e8e9'; } /* '' */
.icon-left-circled:before { content: '\e8ea'; } /* '' */
.icon-down-hand:before { content: '\e8eb'; } /* '' */
.icon-up-hand:before { content: '\e8ec'; } /* '' */
.icon-left-hand:before { content: '\e8ed'; } /* '' */
.icon-right-hand:before { content: '\e8ee'; } /* '' */
.icon-up-big:before { content: '\e8ef'; } /* '' */
.icon-right-big:before { content: '\e8f0'; } /* '' */
.icon-expand-right:before { content: '\e8f1'; } /* '' */
.icon-collapse-left:before { content: '\e8f2'; } /* '' */
.icon-play:before { content: '\e8f3'; } /* '' */
.icon-play-circled:before { content: '\e8f4'; } /* '' */
.icon-play-circled2:before { content: '\e8f5'; } /* '' */
.icon-stop:before { content: '\e8f6'; } /* '' */
.icon-pause:before { content: '\e8f7'; } /* '' */
.icon-to-end:before { content: '\e8f8'; } /* '' */
.icon-to-end-alt:before { content: '\e8f9'; } /* '' */
.icon-flight:before { content: '\e8fa'; } /* '' */
.icon-umbrella:before { content: '\e8fb'; } /* '' */
.icon-moon:before { content: '\e8fc'; } /* '' */
.icon-flash:before { content: '\e8fd'; } /* '' */
.icon-cloud:before { content: '\e8fe'; } /* '' */
.icon-sun:before { content: '\e8ff'; } /* '' */
.icon-globe:before { content: '\e900'; } /* '' */
.icon-inbox:before { content: '\e901'; } /* '' */
.icon-mobile:before { content: '\e902'; } /* '' */
.icon-tablet:before { content: '\e903'; } /* '' */
.icon-paragraph:before { content: '\e904'; } /* '' */
.icon-paste:before { content: '\e905'; } /* '' */
.icon-briefcase:before { content: '\e906'; } /* '' */
.icon-suitcase:before { content: '\e907'; } /* '' */
.icon-ellipsis:before { content: '\e908'; } /* '' */
.icon-ellipsis-vert:before { content: '\e909'; } /* '' */
.icon-off:before { content: '\e90a'; } /* '' */
.icon-road:before { content: '\e90b'; } /* '' */
.icon-list-alt:before { content: '\e90c'; } /* '' */
.icon-qrcode:before { content: '\e90d'; } /* '' */
.icon-barcode:before { content: '\e90e'; } /* '' */
.icon-indent-right:before { content: '\e90f'; } /* '' */
.icon-indent-left:before { content: '\e910'; } /* '' */
.icon-list:before { content: '\e911'; } /* '' */
.icon-align-justify:before { content: '\e912'; } /* '' */
.icon-align-right:before { content: '\e913'; } /* '' */
.icon-align-center:before { content: '\e914'; } /* '' */
.icon-align-left:before { content: '\e915'; } /* '' */
.icon-text-width:before { content: '\e916'; } /* '' */
.icon-text-height:before { content: '\e917'; } /* '' */
.icon-book:before { content: '\e918'; } /* '' */
.icon-ticket:before { content: '\e919'; } /* '' */
.icon-credit-card:before { content: '\e91a'; } /* '' */
.icon-ajust:before { content: '\e91b'; } /* '' */
.icon-tint:before { content: '\e91c'; } /* '' */
.icon-floppy:before { content: '\e91d'; } /* '' */
.icon-megaphone:before { content: '\e91e'; } /* '' */
.icon-toggle-off:before { content: '\e91f'; } /* '' */
.icon-toggle-on:before { content: '\e920'; } /* '' */
.icon-hdd:before { content: '\e921'; } /* '' */
.icon-check:before { content: '\e922'; } /* '' */
.icon-check-empty:before { content: '\e923'; } /* '' */
.icon-fork:before { content: '\e924'; } /* '' */
.icon-key:before { content: '\e925'; } /* '' */
.icon-rocket:before { content: '\e926'; } /* '' */
.icon-circle:before { content: '\e927'; } /* '' */
.icon-circle-empty:before { content: '\e928'; } /* '' */
.icon-bug:before { content: '\e929'; } /* '' */
.icon-certificate:before { content: '\e92a'; } /* '' */
.icon-circle-thin:before { content: '\e92b'; } /* '' */
.icon-circle-notch:before { content: '\e92c'; } /* '' */
.icon-tasks:before { content: '\e92d'; } /* '' */
.icon-filter:before { content: '\e92e'; } /* '' */
.icon-dot-circled:before { content: '\e92f'; } /* '' */
.icon-asterisk:before { content: '\e930'; } /* '' */
.icon-beaker:before { content: '\e931'; } /* '' */
.icon-magic:before { content: '\e932'; } /* '' */
.icon-gift:before { content: '\e933'; } /* '' */
.icon-fire:before { content: '\e934'; } /* '' */
.icon-cab:before { content: '\e935'; } /* '' */
.icon-taxi:before { content: '\e936'; } /* '' */
.icon-magnet:before { content: '\e937'; } /* '' */
.icon-chart-bar:before { content: '\e938'; } /* '' */
.icon-truck:before { content: '\e939'; } /* '' */
.icon-bus:before { content: '\e93a'; } /* '' */
.icon-chart-area:before { content: '\e93b'; } /* '' */
.icon-chart-pie:before { content: '\e93c'; } /* '' */
.icon-bicycle:before { content: '\e93d'; } /* '' */
.icon-motorcycle:before { content: '\e93e'; } /* '' */
.icon-chart-line:before { content: '\e93f'; } /* '' */
.icon-sort-alt-down:before { content: '\e940'; } /* '' */
.icon-building:before { content: '\e941'; } /* '' */
.icon-recycle:before { content: '\e942'; } /* '' */
.icon-street-view:before { content: '\e943'; } /* '' */
.icon-android:before { content: '\e944'; } /* '' */
.icon-facebook-squared:before { content: '\e945'; } /* '' */
.icon-jsfiddle:before { content: '\e946'; } /* '' */
.icon-renren:before { content: '\e947'; } /* '' */
.icon-twitch:before { content: '\e948'; } /* '' */
.icon-tumblr-squared:before { content: '\e949'; } /* '' */
.icon-reddit-squared:before { content: '\e94a'; } /* '' */
.icon-joomla:before { content: '\e94b'; } /* '' */
.icon-facebook:before { content: '\e94c'; } /* '' */
.icon-adn:before { content: '\e94d'; } /* '' */
.icon-diamond:before { content: '\e94e'; } /* '' */
.icon-cubes:before { content: '\e94f'; } /* '' */
.icon-hospital:before { content: '\e950'; } /* '' */
.icon-sort-alt-up:before { content: '\e951'; } /* '' */
.icon-sort-up:before { content: '\e952'; } /* '' */
.icon-bed:before { content: '\e953'; } /* '' */
.icon-cube:before { content: '\e954'; } /* '' */
.icon-birthday:before { content: '\e955'; } /* '' */
.icon-cc-stripe:before { content: '\e956'; } /* '' */
.icon-drupal:before { content: '\e957'; } /* '' */
.icon-ioxhost:before { content: '\e958'; } /* '' */
.icon-reddit:before { content: '\e959'; } /* '' */
.icon-tumblr:before { content: '\e95a'; } /* '' */
.icon-trello:before { content: '\e95b'; } /* '' */
.icon-qq:before { content: '\e95c'; } /* '' */
.icon-instagram:before { content: '\e95d'; } /* '' */
.icon-dropbox:before { content: '\e95e'; } /* '' */
.icon-cc-paypal:before { content: '\e95f'; } /* '' */
.icon-brush:before { content: '\e960'; } /* '' */
.icon-h-sigh:before { content: '\e961'; } /* '' */
.icon-sort-down:before { content: '\e962'; } /* '' */
.icon-spoon:before { content: '\e963'; } /* '' */
.icon-paw:before { content: '\e964'; } /* '' */
.icon-medkit:before { content: '\e965'; } /* '' */
.icon-sort:before { content: '\e966'; } /* '' */
.icon-eyedropper:before { content: '\e967'; } /* '' */
.icon-dribbble:before { content: '\e968'; } /* '' */
.icon-html5:before { content: '\e969'; } /* '' */
.icon-cc-amex:before { content: '\e96a'; } /* '' */
.icon-pinterest-squared:before { content: '\e96b'; } /* '' */
.icon-tencent-weibo:before { content: '\e96c'; } /* '' */
.icon-youtube-squared:before { content: '\e96d'; } /* '' */
.icon-youtube-play:before { content: '\e96e'; } /* '' */
.icon-blank:before { content: '\e96f'; } /* '' */
.icon-lemon:before { content: '\e970'; } /* '' */
.icon-stumbleupon-circled:before { content: '\e971'; } /* '' */
.icon-youtube:before { content: '\e972'; } /* '' */
.icon-yelp:before { content: '\e973'; } /* '' */
.icon-xing-squared:before { content: '\e974'; } /* '' */
.icon-yahoo:before { content: '\e975'; } /* '' */
.icon-xing:before { content: '\e976'; } /* '' */
.icon-wordpress:before { content: '\e977'; } /* '' */
.icon-windows:before { content: '\e978'; } /* '' */
.icon-weibo:before { content: '\e979'; } /* '' */
.icon-wechat:before { content: '\e97a'; } /* '' */
.icon-whatsapp:before { content: '\e97b'; } /* '' */
.icon-vkontakte:before { content: '\e97c'; } /* '' */
.icon-vine:before { content: '\e97d'; } /* '' */
.icon-vimeo-squared:before { content: '\e97e'; } /* '' */
.icon-twitter:before { content: '\e97f'; } /* '' */
.icon-twitter-squared:before { content: '\e980'; } /* '' */
.icon-sellsy:before { content: '\e981'; } /* '' */
.icon-simplybuilt:before { content: '\e982'; } /* '' */
.icon-skyatlas:before { content: '\e983'; } /* '' */
.icon-skype:before { content: '\e984'; } /* '' */
.icon-shirtsinbulk:before { content: '\e985'; } /* '' */
.icon-slack:before { content: '\e986'; } /* '' */
.icon-slideshare:before { content: '\e987'; } /* '' */
.icon-soundcloud:before { content: '\e988'; } /* '' */
.icon-spotify:before { content: '\e989'; } /* '' */
.icon-stackexchange:before { content: '\e98a'; } /* '' */
.icon-stackoverflow:before { content: '\e98b'; } /* '' */
.icon-steam:before { content: '\e98c'; } /* '' */
.icon-steam-squared:before { content: '\e98d'; } /* '' */
.icon-stumbleupon:before { content: '\e98e'; } /* '' */
.icon-pinterest:before { content: '\e98f'; } /* '' */
.icon-pinterest-circled:before { content: '\e990'; } /* '' */
.icon-pied-piper-alt:before { content: '\e991'; } /* '' */
.icon-pied-piper-squared:before { content: '\e992'; } /* '' */
.icon-paypal:before { content: '\e993'; } /* '' */
.icon-pagelines:before { content: '\e994'; } /* '' */
.icon-openid:before { content: '\e995'; } /* '' */
.icon-meanpath:before { content: '\e996'; } /* '' */
.icon-maxcdn:before { content: '\e997'; } /* '' */
.icon-linkedin:before { content: '\e998'; } /* '' */
.icon-linux:before { content: '\e999'; } /* '' */
.icon-linkedin-squared:before { content: '\e99a'; } /* '' */
.icon-leanpub:before { content: '\e99b'; } /* '' */
.icon-lastfm-squared:before { content: '\e99c'; } /* '' */
.icon-lastfm:before { content: '\e99d'; } /* '' */
.icon-facebook-official:before { content: '\e99e'; } /* '' */
.icon-flickr:before { content: '\e99f'; } /* '' */
.icon-forumbee:before { content: '\e9a0'; } /* '' */
.icon-foursquare:before { content: '\e9a1'; } /* '' */
.icon-git-squared:before { content: '\e9a2'; } /* '' */
.icon-git:before { content: '\e9a3'; } /* '' */
.icon-github:before { content: '\e9a4'; } /* '' */
.icon-github-squared:before { content: '\e9a5'; } /* '' */
.icon-github-circled:before { content: '\e9a6'; } /* '' */
.icon-gittip:before { content: '\e9a7'; } /* '' */
.icon-google:before { content: '\e9a8'; } /* '' */
.icon-gplus:before { content: '\e9a9'; } /* '' */
.icon-gplus-squared:before { content: '\e9aa'; } /* '' */
.icon-gwallet:before { content: '\e9ab'; } /* '' */
.icon-hacker-news:before { content: '\e9ac'; } /* '' */
.icon-digg:before { content: '\e9ad'; } /* '' */
.icon-deviantart:before { content: '\e9ae'; } /* '' */
.icon-delicious:before { content: '\e9af'; } /* '' */
.icon-dashcube:before { content: '\e9b0'; } /* '' */
.icon-css3:before { content: '\e9b1'; } /* '' */
.icon-connectdevelop:before { content: '\e9b2'; } /* '' */
.icon-codeopen:before { content: '\e9b3'; } /* '' */
.icon-cc:before { content: '\e9b4'; } /* '' */
.icon-buysellads:before { content: '\e9b5'; } /* '' */
.icon-bitbucket-squared:before { content: '\e9b6'; } /* '' */
.icon-bitbucket:before { content: '\e9b7'; } /* '' */
.icon-behance-squared:before { content: '\e9b8'; } /* '' */
.icon-behance:before { content: '\e9b9'; } /* '' */
.icon-apple:before { content: '\e9ba'; } /* '' */
.icon-angellist:before { content: '\e9bb'; } /* '' */
.icon-venus:before { content: '\e9bc'; } /* '' */
.icon-mars:before { content: '\e9bd'; } /* '' */
.icon-mercury:before { content: '\e9be'; } /* '' */
.icon-transgender:before { content: '\e9bf'; } /* '' */
.icon-transgender-alt:before { content: '\e9c0'; } /* '' */
.icon-venus-double:before { content: '\e9c1'; } /* '' */
.icon-mars-double:before { content: '\e9c2'; } /* '' */
.icon-venus-mars:before { content: '\e9c3'; } /* '' */
.icon-mars-stroke:before { content: '\e9c4'; } /* '' */
.icon-mars-stroke-v:before { content: '\e9c5'; } /* '' */
.icon-mars-stroke-h:before { content: '\e9c6'; } /* '' */
.icon-neuter:before { content: '\e9c7'; } /* '' */
.icon-cc-visa:before { content: '\e9c8'; } /* '' */
.icon-cc-mastercard:before { content: '\e9c9'; } /* '' */
.icon-cc-discover:before { content: '\e9ca'; } /* '' */
.icon-at:before { content: '\e9cb'; } /* '' */
.icon-graduation-cap:before { content: '\e9cc'; } /* '' */
.icon-ambulance:before { content: '\e9cd'; } /* '' */
.icon-viacoin:before { content: '\e9ce'; } /* '' */
.icon-bitcoin:before { content: '\e9cf'; } /* '' */
.icon-heartbeat:before { content: '\e9d0'; } /* '' */
.icon-language:before { content: '\e9d1'; } /* '' */
.icon-copyright:before { content: '\e9d2'; } /* '' */
.icon-calc:before { content: '\e9d3'; } /* '' */
.icon-wheelchair:before { content: '\e9d4'; } /* '' */
.icon-stethoscope:before { content: '\e9d5'; } /* '' */
.icon-won:before { content: '\e9d6'; } /* '' */
.icon-try:before { content: '\e9d7'; } /* '' */
.icon-user-md:before { content: '\e9d8'; } /* '' */
.icon-bullseye:before { content: '\e9d9'; } /* '' */
.icon-newspaper:before { content: '\e9da'; } /* '' */
.icon-extinguisher:before { content: '\e9db'; } /* '' */
.icon-beer:before { content: '\e9dc'; } /* '' */
.icon-shekel:before { content: '\e9dd'; } /* '' */
.icon-binoculars:before { content: '\e9de'; } /* '' */
.icon-shield:before { content: '\e9df'; } /* '' */
.icon-food:before { content: '\e9e0'; } /* '' */
.icon-rouble:before { content: '\e9e1'; } /* '' */
.icon-plug:before { content: '\e9e2'; } /* '' */
.icon-tty:before { content: '\e9e3'; } /* '' */
.icon-puzzle:before { content: '\e9e4'; } /* '' */
.icon-coffee:before { content: '\e9e5'; } /* '' */
.icon-yen:before { content: '\e9e6'; } /* '' */
.icon-rupee:before { content: '\e9e7'; } /* '' */
.icon-dollar:before { content: '\e9e8'; } /* '' */
.icon-pound:before { content: '\e9e9'; } /* '' */
.icon-euro:before { content: '\e9ea'; } /* '' */
.icon-money:before { content: '\e9eb'; } /* '' */
.icon-ship:before { content: '\e9ec'; } /* '' */
.icon-subway:before { content: '\e9ed'; } /* '' */
.icon-train:before { content: '\e9ee'; } /* '' */
.icon-sort-name-up:before { content: '\e9ef'; } /* '' */
.icon-building-filled:before { content: '\e9f0'; } /* '' */
.icon-tree:before { content: '\e9f1'; } /* '' */
.icon-bank:before { content: '\e9f2'; } /* '' */
.icon-sort-name-down:before { content: '\e9f3'; } /* '' */
.icon-database:before { content: '\e9f4'; } /* '' */
.icon-server:before { content: '\e9f5'; } /* '' */
.icon-sort-number-up:before { content: '\e9f6'; } /* '' */
.icon-sort-number-down:before { content: '\e9f7'; } /* '' */
.icon-frown:before { content: '\e9f8'; } /* '' */
.icon-smile:before { content: '\e9f9'; } /* '' */
.icon-lifebuoy:before { content: '\e9fa'; } /* '' */
.icon-rebel:before { content: '\e9fb'; } /* '' */
.icon-empire:before { content: '\e9fc'; } /* '' */
.icon-bomb:before { content: '\e9fd'; } /* '' */
.icon-soccer-ball:before { content: '\e9fe'; } /* '' */
.icon-eraser:before { content: '\e9ff'; } /* '' */
.icon-terminal:before { content: '\ea00'; } /* '' */
.icon-anchor:before { content: '\ea01'; } /* '' */
.icon-meh:before { content: '\ea02'; } /* '' */
.icon-hammer:before { content: '\ea03'; } /* '' */
.icon-gauge:before { content: '\ea04'; } /* '' */
.icon-sitemap:before { content: '\ea05'; } /* '' */
.icon-spinner:before { content: '\ea06'; } /* '' */